@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {

    background-color: #94a3b8;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;

}

.darkBg { 
    background-color: #18181b;
}

.font-family {
    font-family: 'Courgette', cursive;
}

.font-family-p {
    font-family: 'Bungee', cursive;
}
.font-family-title {
    font-family: 'Bungee', cursive;
}
.font-family-price {
    
    font-family: 'Bevan', cursive;
}

.dark-glass {
    background: rgba(24, 24, 27, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(24, 24, 27, 0.3);
}

.purple-glass {
    background: rgba(46, 18, 140, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(46, 18, 140, 0.3);
}
.white-glass {
    background: rgba(248, 250, 252, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(248, 250, 252, 0.3);
}

.blue-glass {

    background: rgba(16, 64, 123, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(16, 64, 123, 1);
    
}

.anmain-one {
     animation-name: anmain-one;
     animation-duration: 2s;
}
@keyframes anmain-one {
    0% {
        opacity: 0;
        transform: translateY(-30%);
        
    }
    50% {
        transform: translateY(0%);
        opacity: 1;
       }
  
    
}
.anmain {
    animation-name: anmain;
    animation-duration: 2s;
}
@keyframes anmain {
   
    50% {
        opacity: 1;
       transform: translateY(0%);
   }

   0% {
    transform: translateY(30%);
    opacity: 0;
   }

   
}


.anmain-nav-one {
    animation-name: anmain-nav-one;
    animation-duration: 1s;
}
@keyframes anmain-nav-one {
   
    25% {
        
        opacity: 1;
       
   }

   0% {
    transform: rotateY(-90deg);
    opacity: 0;
   }

   
}
.anmain-nav {
    animation-name: anmain-nav;
    animation-duration: 1s;
}

@keyframes anmain-nav {
   
    25% {
        opacity: 1;
  
   }

   0% {
    transform: rotateX(90deg);
    opacity: 0;
   }

   
}

.animan-product-page {
    animation-name: animan-product-page;
    animation-duration: 1s;
}

@keyframes animan-product-page {
    
    50% {
        opacity: 1;
    }

    25% {
        opacity: 0.25;
        
   }

   0% {
    opacity: 0;
    scale: 25%;
   
   }

   
}

.animan-market {
    animation-name: animan-market;
    animation-duration: 3s;
}

@keyframes animan-market{

    10% {
        opacity: 1;
    }

   0% {
    opacity: 0;
   
   }

   
}

@media (max-width: 1023px) {
   
    .maindiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
 
    .firstthree {
        width: 160px;
        margin: 20px;
    }

    .lasttwo {
        padding: 10px;
        width: 160px;
        margin-right: auto;
        margin: 20px;
        
    }

    .maindiv {
        position: unset;
    }
    .search{
       margin: 20px;
    }
}  

@media (max-width: 700px){
  
    .infobox {
        flex-wrap: wrap;
        
    }
    .infobox img{
        width: 600px;
    }
    .servicesShrink, .api-box {

        max-width: 400px;
        
        
    }
    .footerquery { 
        height: fit-content;
    }

    .serviceHead {
        margin-top: 20px;
    }
    .maindiv {
        position: unset;
    }
   
}

@media (max-width: 457px) {
    
    .maindiv {
        position: unset;
        display: flex;
  
    }

    .servicesShrink, .api-box {
        max-width: fit-content;
        border-radius: 20px;
    }

    .footerquery { 
        height: fit-content;
    }
  

 
    .maindiv {
        position: unset;
    }
  
    
  
}

@media (max-width: 150px) {
    .search{
        display: none;
    } 
}


.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #22d3ee;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid #4f46e5;
    border-left: 4px solid transparent;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

.moonan {
    animation-name: moonan;
    animation-duration: 1s;
}
.sunan {
    animation-name: sunan;
    animation-duration: 1s;
}

@keyframes moonan {
    10% {
        transform: rotate(360deg);
    }
}
@keyframes sunan {
    10% {
        transform: rotate(120deg);
    }
}



.loader2 {
    color: green;
    display: inline-block;
    position: relative;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  .loader2::after {
    content: '';  
    width: 5px;
    height: 5px;
    background: currentColor;
    position: absolute;
    bottom: 10px;
    right: -5px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
    }
    50% {
      box-shadow: 10px 0 green, 20px 0 rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 10px 0 green, 20px 0 green;
    }
  }

